@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

*{
    font-weight: 700;
    font-family: 'Fredoka', sans-serif;
    color: #D8D8D8;
    transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    user-select: none;
}

h1{
    color: #50af93;
}

body{
    background-color: #73F2CC;
    margin: 0;
    padding: 0;
}

#nav{
    width: 100%;
    height: 9vh;
    background-color: #53BE9E;
    display: flex;
    flex-direction: row;
}

#navSx{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#logoContainer{
    width: 9.8vh;
    display: flex;
    justify-content: space-evenly;
}

#logoContainer:hover{
    background-color: #50af92;
}

#logo{
    width: 9vh;
    height: 100%;
    background: url(./auth/images/alogomentiamoci.png);
    background-size: contain;
}

#navDx{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#userDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#userDiv:hover{
    background-color: #50af93;
    cursor: pointer;
}

#body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 91vh;
}

.bodyDivs{
    background-color: #eeeeee;
    height: 45%;
    width: 92.5%;
    margin: 5% 2.5% 2.5% 5%;
    padding: 3vh 2vw;
    box-sizing: border-box;
}

.bodyDivs:hover{
    background-color: #dadada;
    transform: scale(1.03);
}

#bodySx{
    display: flex;
    flex-direction: column;
    width: 33%;
}

#bodyTopSx{
    margin: 5% 2.5% 2.5% 5%;
}

#bodyBotSx{
    margin: 2.5% 2.5% 5% 5%;
}

#bodyDx{
    display: flex;
    flex-direction: column;
    width: 33%;
}

#bodyTopDx{
    margin: 5% 5% 2.5% 2.5%;
}

#bodyBotDx{
    margin: 2.5% 5% 5% 2.5%;
}

#bodyInfoDiv{
    height: 100%;
    width: 34%;
    background-color: #73F2CC;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#infoDiv{
    padding: 3vh 2vw;
    height: 92.5%;
    width: 95%;
    background-color: #eeeeee;
    box-sizing: border-box;
}

#burgerMenu{
    background-color: #53BE9E;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 2vh;
    margin-top: 9vh;
    margin-right: 1vw;
    padding: 20px 20px 10px 20px;
    width: fit-content;
    z-index: 2;
    transform: translateY(0%);
    opacity: 1;
    pointer-events: auto;
}

#burgerMenu[data-status="closed"]{
    transform: translateY(-10%);
    opacity: 0;
    pointer-events: none;
}

.burgers{
    padding: .5%;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px;
}

.burgers:hover{
    background-color: #50af92;
}

#aboutContainer{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
}

#aboutContainer[data-status="hidden"]{
    opacity: 0;
    pointer-events: none;
}

#about{
    background-color: white;
    width: 45vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #50af93;
}

.title{
    font-size: x-large;
    color: #50af93;
}