@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

*{
    font-weight: 700;
    font-family: 'Fredoka', sans-serif;
    color: #ffffff;
    transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    user-select: none;
}

h1{
    color: #50af93;
}

body{
    background-color: #73F2CC;
    margin: 0;
    padding: 0;
}

#nav{
    width: 100%;
    height: 9vh;
    background-color: #53BE9E;
    display: flex;
    flex-direction: row;
}

#navSx{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#logoContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logoContainer .title{
    margin-left: 1vw;
    color: #ffffff;
    opacity: 0;
    width: 0;
    transform: translateX(-15px);
}

#logoContainer:hover .title{
    opacity: 1;
    width: auto;
    transform: translateX(0px);
}

#logo{
    height: 9vh;
    width: 9.8vh;
    height: 100%;
    background: url(./auth/images/alogomentiamoci.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#logo:hover{
    background-color: #50af93;
}

#navDx{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#userDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#userDiv:hover{
    background-color: #50af93;
    cursor: pointer;
}

#table{
    width: 100vw;
    height: 91vh;
}

td, table{
    border: 10px solid #73F2CC;
}

.buttonDivs{
    background-color: #ffffff;
    height: 41vh;
    width: 33vw;
    padding: 3vh 2vw;
    box-sizing: border-box;
    position: relative;
    margin: auto;
}

.arrow{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 15px 11px 0;
    color: #50af93;
    font-size: xx-large;
}

.buttonDivs:hover{
    background-color: #eeeeee;
    transform: scale(1.03);
}

#infoDiv{
    padding: 3vh 2vw;
    height: 86vh;
    width: 28vw;
    background-color: #ffffff;
    border: 10px double #50af93;
    box-sizing: border-box;
}

#burgerMenu{
    background-color: #53BE9E;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 2vh;
    margin-top: 9vh;
    margin-right: 1vw;
    padding: 20px 20px 10px 20px;
    width: fit-content;
    z-index: 2;
    transform: translateY(0%);
    opacity: 1;
    pointer-events: auto;
}

#burgerMenu[data-status="closed"]{
    transform: translateY(-10%);
    opacity: 0;
    pointer-events: none;
}

.burgers{
    padding: .5%;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px;
}

.burgers:hover{
    background-color: #50af93;
}

#aboutContainer{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
}

#aboutContainer[data-status="hidden"]{
    opacity: 0;
    pointer-events: none;
}

#about{
    background-color: #ffffff;
    width: 45vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #50af93;
}

span.title{
    font-size: xx-large;
    color: #50af93;
}

span i{
    color: #50af93;
}

div.title{
    height: 10%;
    display: flex;
    justify-content: flex-start;
}

div.content{
    height: 80%;
    display: flex;
    justify-content: flex-end;

}

.text{
    font-size: x-large;
    color: #50af93;
}

#userImage{
    width: 100%;
}

.immaginiDiv{
    width: 70%;
}